
<div id="newCableIdentifier"><%= @cable.identifier %></div>
<h1>Traducir cable</h1>
<div id="output">
<%= simple_form_for @cable, html: {class: 'form-stacked'} do |form| %>
<%= form.hidden_field :identifier %>
<fieldset>
<div class="row">
<div class="span7 columns">
<h3>Original</h3>
<%= form.input :subject %>
<%= form.input :body %>
</div>
<div class="span7 columns">
<h3>Traduccion</h3>
<%= form.input :translated_subject %>
<%= form.input :translated_body, as: :text %>
</div>
</div>
</fieldset>
<div class="actions">
<%= form.submit 'Guardar traducción', class: 'btn' %>
</div>
<% end %>
</div>

