
<div id="newCableIdentifier"><%= @cable.identifier %></div>
<h1>Traducir cable</h1>
<div id="translateRecommendation" class="alert-message block-message warning">
	<p>Te recomendamos que hagas una primera traducción rápida
utilizando una herramienta de traducción (por ejemplo:
<a href="http://translate.google.com">http://translate.google.com</a>).
Una vez guardada se pueden ir traduciendo poco a poco los párrafos
más importantes.
</p>
</div>

<div id="translatedByAjax" style="display: none" class="alert-message block-message info">
	<p>Se te ha propuesto una traducción automática utilizando el
traductor de google. Revisa (especialmente el título) y después de guardar puedes revisar los párrafos individualmente.
</p>
</div>


<div class="alert-message block-message info">
	<p>Es fundamental que la traducción mantenga los saltos
de párrafo ¶ exactamente en el mismo sitio que el original.</p>
</div>

<div id="output">
<%= simple_form_for @cable, html: {class: 'form-stacked'} do |form| %>
<%= form.hidden_field :identifier %>
<fieldset>
<div class="row">
<div class="span7 columns">
<h3>Original</h3>
<%= form.input :subject %>
<%= form.input :body %>
</div>
<div class="span7 columns">
<h3>Traduccion</h3>
<%= form.input :translated_subject %>
<%= form.input :translated_body, as: :text %>
</div>
</div>
</fieldset>
<div class="actions">
<%= form.submit 'Guardar traducción', class: 'btn' %>
</div>
<% end %>
</div>

