
<div id="apiError" style="display:none">
No se ha podido contactar con wikileaks. Inténtalo de nuevo un poco más tarde.
</div>


<% if @cable %>
<%= title @cable.identifier, :div %>
<h6><%= @cable.subject %></h6>

<% if @cable.translation.accuracy.blank? %>
<div class="alert-message block-message warning">
	<p><strong>La traducción de este cable ha sido hecha automáticamente,</strong>
	por eso es muy probable que algunos párrafos no se entiendan.
  Por favor, ayúdanos mejorando la traducción (especialmente de los párrafos más relevantes).
</p>
</div>
<% end %>

<h1 id="subject"><%= @translation.subject %></h1>


<div class="summary">
<h3>Resúmen</h3>
<%= markdown @translation.summary %>
<div class="bottom actions">
  Traducción: <%= link_to 'editar información', edit_translation_path(@translation) %>
</div>
</div>


<% else %>
<div id="waitingForWikileaks" class="alert-message block-message warning">
Conectando con wikileaks, espera un momento...
</div>
<div id="apiError" class="alert-message block-message error" style="display:none">
No se ha podido conectar con wikileaks. Inténtalo de nuevo más tarde.
</div>
<div id="addTranslationMessage" class="alert-message block-message warning" style="display:none">
	<p><strong>No hay una traducción para este cable,</strong>
	Pero siempre puedes colaborar en la traducción.
	</p>
	<p>
	<a class="submitAction btn small" href="#">Vale</a>
	<a class="closeAction btn small" href="#">No de momento</a>
	</p>
</div>

<div style="display:none">
<%= form_for Cable.new({identifier: @identifier}) do |form| %>
  <%= form.text_field :identifier %>
  <%= form.text_field :subject %>
  <%= form.text_area :body %>
<% end %>
</div>

<div id="cableIdentifier"><%= @identifier %></div>
<h1 id="subject"><%= @identifier %></h1>
<% end %>


<div id="cableParagraphs">
  <div class="header row">
    <div class="original span6 columns">
      <h4>Texto original</h4>
    </div>
    <div class="translated span6 columns">
      <h4>Traducción</h4>
    </div>
    <div class="comments span4 columns">
      <h4>&nbsp;</h4>
    </div>
  </div>
  <div class="paragraphs">

<% if @cable %>
<%= render @cable.paragraphs %>
<% else %>
  <script type="text/html" id="paragraphs-tmpl">
    <# for ( var i = 0; i < original.length; i++ ) { #>
      <div class="row">
        <div class="translated span6 columns">
          <#= original[i] #>
        </div>
        <div class="translated span6 columns">
          &nbsp;
        </div>
        <div class="translated span6 columns">
            &nbsp;
        </div>
      </div>
    <# } #>
  </script>
<% end %>
  </div>
</div>

