
<div id="apiError" style="display:none">
No se ha podido contactar con wikileaks.
</div>

<% if @cable %>
<div><%= @cable.identifier %></div>
<h6><%= @cable.subject %></h6>
<h1 id="subject"><%= @cable.translation.subject %></h1>
<% else %>
<div id="addTranslationMessage" class="alert-message block-message warning" style="display:none">
	<p><strong>No hay una traducci贸n para este cable,</strong>
	Pero siempre puedes colaborar en la traducci贸n.
	</p>
	<p>
	<a class="submitAction btn small" href="#">Vale</a>
	<a class="closeAction btn small" href="#">No de momento</a>
	</p>
</div>

<div style="display:none">
<%= form_for Cable.new({identifier: @identifier}) do |form| %>
  <%= form.text_field :identifier %>
  <%= form.text_field :subject %>
  <%= form.text_area :body %>
<% end %>
</div>

<div id="cableIdentifier"><%= @identifier %></div>
<h1 id="subject"><%= @identifier %></h1>
<% end %>


<div id="cableParagraphs">
  <div class="header row">
    <div class="original span6 columns">
      <h4>Texto original</h4>
    </div>
    <div class="translated span6 columns">
      <h4>Traducci贸n</h4>
    </div>
    <div class="comments span4 columns">
      <h4>Comentarios</h4>
    </div>
  </div>
  <div class="paragraphs">

<% if @cable %>
  <% @cable.paragraphs.each do |paragraph| %>
  <div class="row">
    <div class="original span6 columns">
      <%= paragraph.original %>
    </div>
    <div class="translated span6 columns">
      <%= paragraph.translated %>
      <div class="actions">
      <%= link_to 'mejorar traducci贸n',
        edit_cable_paragraph_path(@cable, paragraph.id) %> /
      <%= link_to 'comentar' %>
      </div>
    </div>
    <div class="comments span4 columns">
    </div>
  </div>
  <% end %>

<% else %>
  <script type="text/html" id="paragraphs-tmpl">
    <# for ( var i = 0; i < original.length; i++ ) { #>
      <div class="row">
        <div class="translated span6 columns">
          <#= original[i] #>
        </div>
        <div class="translated span6 columns">
          &nbsp;
        </div>
        <div class="translated span6 columns">
            &nbsp;
        </div>
      </div>
    <# } #>
  </script>
<% end %>
  </div>
</div>

