<div class="translationState">
<% if (translationState == 'missing') { %>
<div class="alert-message block-message warning">
	<p><strong>No hay una traducción para este cable.</strong>
	Pero puedes colaborar añadiendo una tu mismo.
	</p>
	<p>
	<a class="btn small" href="#/cable<%= reference %>/newTranslation">Vale</a>
	<a class="close btn small" href="#">No de momento</a>
	</p>
</div>
<% } else if (translationState == 'loading') { %>
<div class="alert-message block-message warning">
<p>Cargando traducción...</p>
</div>
<% } else { %>
<div class="alert-message block-message warning">
<p>Traducción: <%= translationState %></p>
</div>
<% } %>
</div>


<h3><%= subject %><small>&nbsp;<%= identifier %></small></h3>

<div class="tags">
<%= tags %>
</div>

<div class="body">
<div class="row info">
	<div class="span6 columns">
	<h4>Inglés</h4>
	</div>
	<div class="span6 columns">
	<h4>Castellano</h4>
	<p><strong>No implementado:</strong> la idea es que un traductor automático haga la primera traducción y luego se refine colaborativamente.
	</p>
	</div>
	<div class="span4 columns">
	<h4>Comentarios</h4>
	<p><strong>No implementado:</strong> la idea es que se puedan comentar los párrafos
	</p>
	</div>
</div>
<% _.each(paragraphs, function(para, index) { %>
<div id="paragraph-<%= index %>"class="row paragraph">
	<div class="source<%= index %> span6 columns">
	<p><%= para %></p>
	</div>
	<div class="translated<%= index %> span6 columns">
	</div>
	<div class="comments span4 columns">
	</div>
</div>
<% }); %>
</div>

