<h3><%= subject %><small>&nbsp;<%= identifier %></small></h3>

<div class="tags">
<%= tags %>
</div>

<div class="body">
<% _.each(paragraphs, function(para) { %>
<div class="row">
	<div class="source span6 columns">
	<p><%= para %></p>
	</div>
	<div class="translated span6 columns">
	Esperando la traducción automática...
	</div>

	<div class="comments span4 columns">
	<a href="#/cable/<%= identifier %>">Comentar...</a>
	</div>
</div>
<% }); %>
</div>

