<!DOCTYPE html>
<html>
<head>
  <title>Leaker - <%= yield :title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="topbar">
      <div class="fill">
        <div class="container">
          <h3><a href="/">Leaker</a></h3>
          <ul>
            <!-- li class="active"><a href="#">Inicio</a></li-->
          </ul>
          <form action="/buscar">
            <input type="text" name="term" id="term" placeholder="Buscar wikileaks...">
          </form>

<% if session_by_ajax %>
<div id="session" class="ajax">Cargando...</div>
<% else %>
  <div id="session"><%= render 'sessions/session' %></div>
<% end %>
    </div>
  </div>
</div> <!-- /topbar -->

<div id="viewport">

<div class="container">


<div class="page">
<div id="flashes">
  <% flash.each do |name, msg| %>
      <% clazz = name == :notice ? 'success' : name %>
      <%= content_tag :div, :class => "flash alert-message #{clazz}" do %>
        <a class="close" href="#">×</a>
        <%= content_tag :p, msg %>
      <% end %>
  <% end %>
</div>

<%= yield %>
</div>
</div>
<div id="footer">
<div class="container">
<em>Leaker</em> es, por supuesto, código libre.
Puedes colaborar en:
<a href="https://github.com/recortable/Leaker">
https://github.com/recortable/Leaker</a>
</div></div>
</div> <!-- /viewport -->
</body>
</html>

