<!DOCTYPE html>
<html>
<head>
  <title>Leaker - <%= yield :title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="topbar">
      <div class="fill">
        <div class="container">
          <h3><a href="/">Leaker</a></h3>
          <ul>
            <!-- li class="active"><a href="#">Inicio</a></li-->
          </ul>
          <form action="/buscar">
            <input type="text" name="term" id="term" placeholder="Buscar wikileaks...">
          </form>

<ul class="nav secondary-menu">
<% if current_user %>
  <li class="menu">
    <%= current_user.name %>
    <ul class="menu-dropdown">
      <li><%= link_to 'Perfil' %></li>
      <li><%= link_to 'Salir' %></li>
    </ul>
  </li>
<% else %>
  <li><a href="#">Entrar</a></li>
<% end %>
</ul>
        </div>
      </div> <!-- /fill -->
    </div>
<div class="container">


<div class="page">
<div id="flashes">
  <% flash.each do |name, msg| %>
      <%= content_tag :div, :class => "flash alert-message #{name}" do %>
        <a class="close" href="#">×</a>
        <%= content_tag :p, msg %>
      <% end %>
  <% end %>
</div>

<%= yield %>
</div>
</div>
<div id="footer">
<div class="container">
<em>Leaker</em> es, por supuesto, código libre.
Puedes colaborar en:
<a href="https://github.com/recortable/Leaker">
https://github.com/recortable/Leaker</a>
</div></div>
</body>
</html>

