<!DOCTYPE html>
<html>
<head>
  <title>Leaker backend</title>
  <%= stylesheet_link_tag    "backend" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="topbar">
      <div class="fill">
        <div class="container">
          <h3><a href="/">Leaker</a></h3>
          <ul>
            <li><%= link_to 'Cables', backend_cables_path %></li>
            <li><%= link_to 'Traducciones', backend_translations_path %></li>
            <li><%= link_to 'Participantes', backend_users_path %></li>
          </ul>
        </div>
      </div> <!-- /fill -->
    </div>
<div class="container">
<div class="page">
<%= yield %>
</div>
</div>
</body>
</html>

